* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --blue: #0076ff;
  --dark: #000000;
  --gray: #aaaaaa;
  --light-gray: #f0f0f0;
  --red: #ff0000;
  --white: #ffffff;
}

body {
  background-color: var(--light-gray);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.dark-text {
  color: var(--dark);
}

.page-title {
  color: var(--blue);
  font-weight: bolder;
}

.card-container {
  background-color: var(--white);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px var(--gray);
  width: 50%;
}

.form-title {
  color: var(--dark);
  text-align: center;
  font-weight: normal;
}

.btn-basic {
  border: none;
  font-size: 18px;
  padding: 2px;
  border-radius: 6px;
  padding: 4px 8px;
  transition: 0.4s ease-in-out;
}

.btn-basic:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.05);
}

.btn-basic:disabled {
  transition: 0.4s ease-in-out;
  cursor: default;
  opacity: 0.5;
  transform: scale(1);
}

.btn-calc {
  background-color: var(--blue);
  color: var(--white);
  padding: 6px 40px;
  height: 45px;
  font-weight: 600;
}

.btn-close {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.btn-about-calc {
  text-decoration: underline;
}

#form-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  cursor: pointer;
  font-size: 18px;
  color: var(--dark);
}

input {
  height: 35px;
  padding: 0 6px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 3px 1px var(--gray);
  outline: none;
  transition: 0.1s ease-in-out;
}

input:focus {
  transition: 0.1s ease-in-out;
  border-width: 2px;
  box-shadow: 2px 2px 3px 1px var(--blue);
}

.hidden-erro {
  display: none;
}

.show-erro {
  display: block;
}

.error-menssage {
  color: var(--red);
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

.result-fuel {
  color: var(--blue);
}

.title-blue {
  color: var(--blue);
  font-weight: bolder;
}

/* Style for bootstrap components */

.modal-content {
  border: none !important;
  border-radius: 10px !important;
}

@media screen and (max-width: 425px) {
  .card-container {
    width: 90%;
  }

  .input-container {
    width: 90%;
  }
}
